@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.arrow-down {
  font-size: 25px;
  color: #234970; /* Cor da seta */
  animation: bounce 1s infinite;  /* Aplica a animação */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);  /* Movimento para baixo */
  }
  100% {
    transform: translateY(0);
  }
}


.accordion-button.collapsed, .accordion-button:not(.collapsed) {
  font-size: 1.8rem;
  background-color: #99CBC8 !important;
  color: white !important;
  border: 0;
}

.accordion-body {
  background-color: #99CBC8 !important;
  color: white !important;
  border: 0;
}

.accordion-button::after {
  background-image: url("imgs/arrowhite.svg") !important;
  color: white;
}

.accordion-item {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.accordion-button:hover {
  background-color: #99CBC8 !important;
  color: white !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.text-green{
  color: #99CBC8 !important;
}

.bg-green{
  background-color: #99CBC8 !important;
}